html {
	background-image: url(background.jpg) no-repeat cover;
}
.nav-text {
	color: #E9E5B0;
}
.navbar {
	background-color: #040306;
	width: 100%;
}
.phone_bar {
	background-color: #3F3C60;
}
.dropdown_background {
	background-color: transparent;
}
.bold {
	font-weight: bold;
}
.main_text {
	color: #F7F3B5;
	margin-left: 5px;
}
.main_list {
	list-style-type: upper-roman;
}