* {
  box-sizing: border-box;
}
html {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-text {
    color: #E9E5B0;
    font-size: 25px;
}

.navbar {
    background-color: #040306;
    width: 100%;
}

#nav-logo {
    width: 80%;
}

.phone_bar {
    background-color: #3F3C60;
}

.img-con {
    width: 10%;
}

.dropdown_background {
    background-color: transparent;
}

.bold {
    font-weight: 700;
}

main {
    min-height: 100%;
}
.myImg {
    width: 100%;
    float: left;
    border-bottom: 5px solid;
}

.main_text {
    color: #F7F3B5;
    margin-left: 5px;
}

.main_list {
    list-style-type: upper-roman;
}

.footer_text {
    color: #A7F3B5;
    float: left;
    margin: 35px 0px 0px 13px; 
}

.footer_links {
    margin-right: 5%;
}

.footer_link {
    width: 35px;
    margin-left: 1%;
}

#footer_img {
    width: 4%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 8%;
}

#footer_img:hover {
    width: 4.57957%;
    cursor: pointer; 
}

.footer {
    width: 100%;
    background-color: #000;
    flex-shrink: 0;
    height: 173px;
}
