* {
    box-sizing: border-box;
}

html,
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.dropdown-wrapper {
    position: absolute;
    background-color: #FF420E;
}

.nav-text {
    color: lightblue;
    font-size: 25px;
}

.navbar {
    background-color: #040306;
    width: 100%;
}

#nav-logo {
    width: 80%;
}

.phone_bar {
    background-color: #3F3C60;
}

#s1cap,
#s2cap,
#s3cap {
    margin-bottom: auto;
}

.caption {
    color: gold;
    padding-bottom: 30%;
    font-size: 325%;
}

.img-con {
    width: 10%;
}

.img-div {
    min-height: 100%;
}

.dropdown_background {
    background-color: transparent;
}

#ddown {
    background-color: lightblue;
    color: lightblue;

}

.bold {
    font-weight: 700;
}

.myImg {
    width: 50%;
    height: 500px;
    float: left;
    border: 5px solid;
}

.list {
    list-style-position: inside;
    text-align: center;
    display: flow-root;
}

.bgcolor {
    background-color: black;
}

.lightyellow {
    color: lightyellow;
}

.color {
    color: lightblue;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bold {
    text-decoration: solid;
    color: lightgreen;
}

.main_text {
    color: lightblue;
    text-align: center;
    font-size: 120%;
}

.center_text {
    text-align: center;
    color: lightblue;
}

.main_list {
    list-style-type: upper-roman;
}

.footer_text {
    color: lightblue;
    float: left;
    margin: 35px 0px 0px 13px;
}

.footer_links {
    margin-right: 5%;
}

.footer_link {
    width: 35px;
    margin-left: 1%;
}

#footer_img {
    width: 4%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 8%;
}

#footer_img:hover {
    width: 4.57957%;
    cursor: pointer;
}

footer {
    background-color: #000;
}

.footer {
    width: 100%;
    position: absolute;
    margin-top: auto;
}

@media (max-width: 760px) {
    .caption {
        color: gold;
        padding-bottom: 0%;
        font-size: 240%;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

    #ddown {
        background-color: lightblue;
        color: lightblue !important;

    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }

    #ddown {
        background-color: lightblue;
        color: lightblue !important;

    }
}